<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <ApplicationRevision>37</ApplicationRevision>
        <ApplicationVersion>1.0.0.*</ApplicationVersion>
        <BootstrapperEnabled>True</BootstrapperEnabled>
        <Configuration>Release</Configuration>
        <CreateDesktopShortcut>True</CreateDesktopShortcut>
        <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
        <ErrorReportUrl>https://www.homesusa.com/mls_department/</ErrorReportUrl>
        <GenerateManifests>true</GenerateManifests>
        <Install>True</Install>
        <InstallFrom>Web</InstallFrom>
        <InstallUrl>https://uploaderv3-qa.homesusa.com/</InstallUrl>
        <IsRevisionIncremented>True</IsRevisionIncremented>
        <IsWebBootstrapper>True</IsWebBootstrapper>
        <ManifestCertificateThumbprint>0B939C88A8F5C797FA28501657B7092DF43C6012</ManifestCertificateThumbprint>
        <ManifestKeyFile>Husa.Uploader_TemporaryKey.pfx</ManifestKeyFile>
        <MapFileExtensions>True</MapFileExtensions>
        <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
        <Platform>AnyCPU</Platform>
        <ProductName>HomesUSA Uploader Core</ProductName>
        <PublishDir>D:\a\1\a\</PublishDir>
        <PublishUrl>https://uploaderv3-qa.homesusa.com/</PublishUrl>
        <PublisherName>HomesUSA.com</PublisherName>
        <PublishProtocol>ClickOnce</PublishProtocol>
        <PublishReadyToRun>False</PublishReadyToRun>
        <PublishSingleFile>False</PublishSingleFile>
        <SelfContained>True</SelfContained>
        <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
        <SignManifests>False</SignManifests>
        <SupportUrl>https://www.homesusa.com/mls_department/</SupportUrl>
        <TargetCulture>en-US</TargetCulture>
        <TargetFramework>net7.0-windows</TargetFramework>
        <UpdateEnabled>True</UpdateEnabled>
        <UpdateMode>Foreground</UpdateMode>
        <UpdateRequired>False</UpdateRequired>
        <WebPageFileName>Publish.html</WebPageFileName>
        <RuntimeIdentifier>win-x64</RuntimeIdentifier>
        <UseApplicationTrust>True</UseApplicationTrust>
    </PropertyGroup>
</Project>
