<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>52</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://www.homesusa.com/mls_department/</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://uploaderv3-qa.homesusa.com/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>HomesUSA Uploader Core</ProductName>
    <PublishDir>bin\Release\net7.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>HomesUSA.com</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>HomesUSA</SuiteName>
    <SupportUrl>https://www.homesusa.com/mls_department/</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>https://uploaderv3-qa.homesusa.com/</UpdateUrl>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UseApplicationTrust>True</UseApplicationTrust>
    <History>True|2023-06-07T13:42:09.0324275Z;True|2023-06-07T10:02:56.6539431+02:00;True|2023-06-06T15:58:23.1206565+02:00;True|2023-06-06T15:33:22.6410878+02:00;True|2023-06-06T15:14:32.0343361+02:00;True|2023-06-06T14:32:11.6607644+02:00;True|2023-06-06T10:32:39.7055314+02:00;True|2023-06-06T10:28:32.8326317+02:00;True|2023-06-06T09:42:55.5283439+02:00;</History>
  </PropertyGroup>
</Project>