<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>53</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://www.homesusa.com/mls_department/</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://uploaderv3-qa.homesusa.com/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>HomesUSA Uploader Core</ProductName>
    <PublishDir>bin\Release\net7.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>HomesUSA.com</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>HomesUSA</SuiteName>
    <SupportUrl>https://www.homesusa.com/mls_department/</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>https://uploaderv3-qa.homesusa.com/</UpdateUrl>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UseApplicationTrust>True</UseApplicationTrust>
    <History>True|2023-06-13T17:43:10.4478608Z;True|2023-06-05T13:55:08.6825624-04:00;True|2023-06-05T13:49:42.1187392-04:00;True|2023-06-05T10:43:40.3583883-04:00;False|2023-06-05T10:39:24.5765638-04:00;True|2023-06-05T07:50:21.1539466-04:00;</History>
  </PropertyGroup>
</Project>