<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>54</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://www.homesusa.com/mls_department/</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://uploaderv3-qa.homesusa.com/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>HomesUSA Uploader Core</ProductName>
    <PublishDir>bin\Release\net7.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>HomesUSA.com</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>HomesUSA</SuiteName>
    <SupportUrl>https://www.homesusa.com/mls_department/</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>https://uploaderv3-qa.homesusa.com/</UpdateUrl>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <UseApplicationTrust>True</UseApplicationTrust>
    <History>True|2023-06-19T15:39:05.0245284Z;True|2023-06-07T10:42:09.0324275-03:00;True|2023-06-07T05:02:56.6539431-03:00;True|2023-06-06T10:58:23.1206565-03:00;True|2023-06-06T10:33:22.6410878-03:00;True|2023-06-06T10:14:32.0343361-03:00;True|2023-06-06T09:32:11.6607644-03:00;True|2023-06-06T05:32:39.7055314-03:00;True|2023-06-06T05:28:32.8326317-03:00;True|2023-06-06T04:42:55.5283439-03:00;</History>
  </PropertyGroup>
</Project>