<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <ApplicationRevision>32</ApplicationRevision>
    <ApplicationVersion>1.0.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://www.homesusa.com/mls_department/</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://sahusauploadercusqa.z19.web.core.windows.net/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>0B939C88A8F5C797FA28501657B7092DF43C6012</ManifestCertificateThumbprint>
    <ManifestKeyFile>Husa.Uploader_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>HomesUSA Uploader Core</ProductName>
    <PublishDir>bin\Release\net7.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>HomesUSA.com</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SupportUrl>https://www.homesusa.com/mls_department/</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <History>True|2023-05-24T20:59:22.1530426Z;True|2023-05-24T16:26:36.1945551-04:00;True|2023-05-24T16:04:36.1684752-04:00;True|2023-05-24T15:42:13.3411712-04:00;True|2023-05-24T15:00:14.6126460-04:00;True|2023-05-24T14:03:39.3323104-04:00;False|2023-05-24T14:02:17.3510026-04:00;True|2023-05-24T12:04:21.4174537-04:00;True|2023-05-24T10:23:34.9144283-04:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <PublishFile Include="ThirdPartyNotice.txt">
      <Group>
      </Group>
      <TargetPath>
      </TargetPath>
      <PublishState>Include</PublishState>
      <IncludeHash>true</IncludeHash>
      <FileType>File</FileType>
    </PublishFile>
  </ItemGroup>
</Project>