<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>1</ApplicationRevision>
    <ApplicationVersion>2.6.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Release</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <ErrorReportUrl>https://www.homesusa.com/mls_department/</ErrorReportUrl>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://uploaderv3-qa.homesusa.com/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>HomesUSA Uploader Core</ProductName>
    <PublishDir>bin\Release\net7.0-windows\win-x64\app.publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>HomesUSA.com</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>True</SelfContained>
    <SignatureAlgorithm>(none)</SignatureAlgorithm>
    <SignManifests>False</SignManifests>
    <SuiteName>HomesUSA</SuiteName>
    <SupportUrl>https://www.homesusa.com/mls_department/</SupportUrl>
    <TargetCulture>en-US</TargetCulture>
    <TargetFramework>net7.0-windows</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>True</UpdateRequired>
    <UpdateUrl>https://uploaderv3-qa.homesusa.com/</UpdateUrl>
    <UseApplicationTrust>True</UseApplicationTrust>
    <WebPageFileName>Publish.html</WebPageFileName>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <UseApplicationTrust>True</UseApplicationTrust>
    <History>True|2023-06-29T19:43:56.0225162Z;True|2023-06-29T15:30:20.7896795-04:00;True|2023-06-14T14:18:56.7906253-04:00;True|2023-06-07T09:42:09.0324275-04:00;True|2023-06-07T04:02:56.6539431-04:00;True|2023-06-06T09:58:23.1206565-04:00;True|2023-06-06T09:33:22.6410878-04:00;True|2023-06-06T09:14:32.0343361-04:00;True|2023-06-06T08:32:11.6607644-04:00;True|2023-06-06T04:32:39.7055314-04:00;True|2023-06-06T04:28:32.8326317-04:00;True|2023-06-06T03:42:55.5283439-04:00;</History>
  </PropertyGroup>
</Project>
